<h1>Maquinet#new</h1>
<%= form_for(@maquinet) do |f| %>
<%= render_error_messages %>
<div id="post_title">
 <span id="post_title_field">
 	<%= f.text_field(:name, :size => 100) %>
 	</span>   
 <label for="title" id="post_title_label" class="post_form_label">
 	name
 </label>
</div>
<div id="post_excerpt">
 <span id="post_excerpt_field">
 	<%= f.text_field(:coin_value, :size => 50) %>
 	</span>   
 <label for="excerpt" id="post_excerpt_label" class="post_form_label">
 	coin value
 </label>
</div>
<div id="post_excerpt">
 <span id="post_excerpt_field">
 	<%= f.text_field(:coin_time, :size => 50) %>
 	</span>   
 <label for="excerpt" id="post_excerpt_label" class="post_form_label">
 	coin time
 </label>
</div>
<div id="post_body">
 <div class="wmd-panel" id="post_body_text">
  <div id="wmd-button-bar">Location</div>
 	<%= f.text_area(:location, :class => "wmd-input", :id => "wmd-input")%>
 </div> 
 preview:
 	<div id="wmd-preview" class="wmd-panel wmd-preview"></div>  
</div>
<span id="post_submit">
 <%= f.submit %>
</span>
<span>
 <%= link_to "cancel", root_path %>
</span>
<%end%>