<h2><%=@maquinet.name%>    <small><%= link_to('Editar', edit_maquinet_path(@maquinet)) %></small></h2>

<ul id="maquinet-tabs" class="nav nav-tabs">
  <li class="active"><a href="#maquinet-general-info" data-toggle="tab">Información General</a></li>
  <li><a href="#maquinet-graphs" data-toggle="tab">Gráficos</a></li>
  <li><a href="#maquinet-sessions" data-toggle="tab">Sesiones</a></li>
</ul>

<div class="tab-content">
	<div id="maquinet-general-info" class="tab-pane active row-fluid tab">
		<div class="span12">
			<fieldset>
				<!-- <legend>Información General</legend>	 -->
				<div>
					<div class="span4"><strong>Identificador de Maquinet: </strong></strong> </div> <div class="span8"><%= @maquinet.machine_uuid %></div>
				</div>
				<div>
					<div class="span4"><strong>Dirección: </strong></div><div class="span8"><%= @maquinet.location %> </div>
				</div>
				<div>
					<div class="span4"><strong>Responsable: </strong></div><div class="span8"><%= @maquinet.contact_name %></div>
				</div>
				<div>
					<div class="span4"><strong>Número de Contacto: </strong></div><div class="span8"><%= number_to_phone(@maquinet.contact_phone_number, area_code: true)%></div>
				</div>
				<div>
					<div class="span4"><strong>Email de Contacto: </strong></div><div class="span8"><%= @maquinet.contact_email %></div>
				</div>
				<div>
					<div class="span4"><strong>Usuario de Maquinet: </strong></div><div class="span8"><%= print_machine_user(@maquinet) %></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Números Totales</legend>
				<div>
					<div class="span4"><strong>Total de monedas:</strong> </div> <div class="span8"></div>
				</div>
				<div>
					<div class="span4"><strong>Ingresos Totales: </strong></div> <div class="span8"></div>
				</div>
				<div>
					<div class="span4"><strong>Ingresos Mensuales: </strong></div> <div class="span8"></div>
				</div>
				<div>
					<div class="span4"><strong>Ingresos al Día: </strong></div> <div class="span8"></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Configuración de Moneda</legend>
				<div>
					<div class="span4"><strong>Tiempo de moneda: </strong></div><div class="span8"><%= @maquinet.coin_time %> minutos</div>
				</div>
				<div>
					<div class="span4"><strong>Valor de moneda: </strong></div><div class="span8"><%= number_to_currency(@maquinet.coin_value)%></div>
				</div>
			</fieldset>
		</div>
	</div>
	<div id="maquinet-graphs" class="tab-pane row-fluid tab">
		<div id="earnings-graph" class="span12">
			<div class="row-fluid">
				<div class="span4">
					<h3>Ingresos vs Tiempo</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4">
					<h4>Tipo de Gráfico: <a class="popup-selector" href="#test" id="earnings-graph-type">Barras</a></h4>
				</div>
			</div>
			<div class="row-fluid">
			</div>
			<div class="row-fluid">
			  <svg style="height: 500px;"></svg>
	  	    </div>
			<div class="row-fluid">
				<div class="span12">
					<div id="earnings-slider"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="maquinet-sessions" class="tab-pane row-fluid tab"> </div>
  </div>
</div>
<%= javascript_tag do -%>
	window.machine_uuid = "<%= @maquinet.machine_uuid %>";
<% end -%>
