<h2><%=@maquinet.name%>    <small><%= link_to('Editar', edit_maquinet_path(@maquinet)) %></small></h2>

<div class="row-fluid">
	<div class="span6">
		<fieldset>
			<legend>Información General</legend>	
			<div>
				<span class="span4">Identificador de Maquinet: </span> <span class="span8"><%= @maquinet.machine_uuid %></span>
			</div>
			<div>
				<span class="span4">Dirección: </span><span class="span8"><%= @maquinet.location %> </span>
			</div>
			<div>
				<span class="span4">Responsable: </span><span class="span8"><%= @maquinet.contact_name %></span>
			</div>
			<div>
				<span class="span4">Número de Contacto: </span><span class="span8"><%= number_to_phone(@maquinet.contact_phone_number, area_code: true)%></span>
			</div>
			<div>
				<span class="span4">Email de Contacto: </span><span class="span8"><%= @maquinet.contact_email %></span>
			</div>
		</fieldset>
		<fieldset>
			<legend>Números Totales</legend>	
			<div>
				<span class="span4">Total de monedas: </span> <span class="span8"></span>
			</div>
			<div>
				<span class="span4">Ganancia al Año: </span> <span class="span8"></span>
			</div>
			<div>
				<span class="span4">Ganancia al Mes: </span> <span class="span8"></span>
			</div>
			<div>
				<span class="span4">Ganancia al Día: </span> <span class="span8"></span>
			</div>
		</fieldset>
		<fieldset>
			<legend>Configuración de Moneda</legend>
			<div>
				<span class="span4">Tiempo de moneda: </span><span class="span8"><%= @maquinet.coin_time %> segundos</span>
			</div>
			<div>
				<span class="span4">Valor de moneda: </span><span class="span8"><%= number_to_currency(@maquinet.coin_value)%></span>
			</div>
		</fieldset>
	</div>
	<div class="span6">
		<fieldset>
			<legend>Gráficos</legend>
		</fieldset>		
	</div>
</div>
